@import 'variables';

.container {
  border-radius: 5px;
  background: $primaryUi;
  height: 48px;
  display: flex;
  outline: none;
  padding: 0px 30px;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  font-family: 'Inter-Regular';
  color: $white;
  transition: opacity .3s;

  &:active {
    opacity: .7;
  }

  &.small {
    height: 30px;
    font-size: 12px;
    padding: 0px 24px;
  }

  &.inverted {
    color: $primaryUi;
    background: transparent;
    border-color: $primaryUi;
  }
}