@import "variables";

.header {
  padding: 50px 30px;
  background-size: contain;
  position: relative;
  background: url('assets/images/background-1.jpg');
  background-size: cover; 
  background-position: 50% 50%;
}

.headerContent {
  max-width: 500px;
  display: flex;
  align-items: end;
  flex-direction: column;
}

.logo {
  font-size: 30px;
  font-family: 'Inter-Regular';
  text-transform: uppercase;
  margin-bottom: 40px;
}

.title {
  font-size: 30px;
  font-family: 'Inter-Bold';
  margin: 0 0 26px 0px;
  background: #FFF;
  padding: 6px;
  display: inline-block;
}

.author {
  background: #FFF;
  align-self: flex-end;
  text-align: right;
  padding: 6px;
  margin-bottom: 10px;
  display: inline-block;
  font-family: 'Inter-Bold';
}

.description {
  font-size: 20px;
  margin-bottom: 10px;
  background: #FFF;
  padding: 6px;
  display: inline-block;
  font-family: 'Inter-Medium';
}
