@import "variables";

.header {
  border-bottom: 1px solid $secondaryBorder;
  padding: 50px 10px;
  display: flex;
  background-size: contain;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerContent {
  padding: 20px;
  background: #FFF;
  border-radius: 16px;
}

.title {
  font-size: $h1Size;
  font-family: $h1FontFamily;
  margin: 0 0 20px 0px;
  text-align: center;
  color: #f3126b;
}

.description {
  font-size: $h4Size;
  font-family: $h4FontFamily;
  margin: 0 0 0px 0px;
  text-align: center;
  max-width: 500px;
}
