.container {
  margin: 0 auto;
  position: relative;
  padding: 20px 0px;
  max-width: 940px;
  z-index: 2;
}

.metaData {
  margin-bottom: 10px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}