<!DOCTYPE html>
<html>
	<head>
		<title>Covid Sex Partner</title>
    <meta name="title" content="Covid Sex Partner">
    <meta property="og:title" content="Covid Sex Partner">
    <meta name="description" content="You are your safest sex partner! Buy sex toys with us">
    <meta name="og:description" content="You are your safest sex partner! Buy sex toys with us">
    <meta property="og:image" content="<%=require('./assets/images/preview.jpg').default%>">
    <meta property="og:url" content="https://www.buymebuyme.xyz/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/images/favicon.png">
    <meta property="og:image" content="./assets/images/preview.png" />
		
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks[chunk].css %>">
	<% } %>

	</head>

	<body>
		<div class='application' id='application'></div>
	</body>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
	<% } %>
</html>
